*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.pb.go
*-packr.go
.vscode/
debug
.dockerignore
.git/
.github/
.gitignore
.gitattributes
.gitlab-ci.yml
.env
.goreleaser.yml
dist/
Dockerfile
Dockerfile.release
LICENSE
README.md
